
form{
    padding: 0%;
    margin: 0% auto;

}
#lab{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    background-color: #f1d2ff;
    border-radius: 10px;
    font-family: sans-serif;
}
.inp{
    padding: 0;
    width: fit-content;
   
}
.inpT{
    padding: 0;
    width: 450px;
    height: 25px;
}
.sel{
    width: 454px;
    height: 25px;
}

.row{
    margin: 10px 0;
    height: 30px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.label{
    width: fit-content;
    text-align: end;
    padding-right: 10px;
}

.inpNumber{
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 454px;
}
.numberC{
    height: 25px;
    padding: 0;
    width: 130px;
}
