:root{
    --medida: 20%;
}
*{
    padding: 0%;

}

select{
    border-radius: 5px;
}


.input{
    float: right;
}
div{
    margin: 10px 0%;
}
.fechaDiv{
    width: 50px;
}

fieldset{
    margin: 0 auto;
    width: 50%;
}
#enviar{
    width: fit-content;
    margin: 0 auto;
}
#boton{
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}