
form{
    padding: 0%;
    margin: 0% auto;

}
#lab{
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    background-color: #f1d2ff;
    border-radius: 10px;
    font-family: sans-serif;
}
.inp,.sel{
    width: 185px;
}

.row{
    height: 30px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.label{
    width: fit-content;
    text-align: end;
    padding-right: 10px;
}

.inpNumber{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    width: 185px;
}
.numberC{
    padding: 0;
    width: 54px;
}
