:root{
    --colorPrincipal: #ddc1f9;
    --colorSecun: #f2efff;
    --colorAcc : #b098f2;
}
*{
    font-family: sans-serif;
    padding: 0%;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--colorSecun);
}
body{
    margin: 0;
}
#nav{
    width: 100%;
    background-color: var(--colorPrincipal);
    display: flexbox;
}
li{
    float: left;
}
#controles{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--colorPrincipal);
}
#cuenta{
    float: right;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--colorPrincipal);  
}

li a{
    padding: 14px 16px;
    text-align: center;
    color: rgb(94, 0, 111);
    display: block;
    text-decoration: none;
    background-color: var(--colorPrincipal);
}
li a:hover{
    background-color: #b098f2;
}
#controles{
    display: inline-block;
    background-color: var(--colorPrincipal);
}
.btnCtr{
    background-color: var(--colorPrincipal);
}

/*main*/
.boogle{
    display: flex;
}
h1{
    padding-top: 10rem;
    margin: 0 auto;
    font-size: 3rem;
    font-family:sans-serif;
}
#divBusq{
    display: flex;
}
#busq{
    color: var(--colorAcc);
    padding: 5px 50px;
    margin: 0% auto;
    height: 40px;
    width: 50%;
    border-radius: 70px;
}
#divButton{
    margin-top: 2rem;
    display: flex;
}
#divButton2{
    margin: 0% auto;
}
.button{
    background-color:var(--colorPrincipal);
    padding:10px 20px;
    border-radius:50px ;
    text-decoration: none;
}
.button:hover{
    background-color: rgb(149, 0, 255);
    border-radius:40px;
    color: white;
}

#footDiv{
    padding: 10px 0%;
    margin: 0% auto;
    float: left;
    display: flex;
}

#footer{
    width: 100%;
    background-color: var(--colorPrincipal);
    bottom: 0;
    position: absolute;
}
#contrFoot{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--colorPrincipal);
    
}